<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../styles/styles.css" />
        <link rel="stylesheet" href="../styles/about.css" />

        <title>Andres Alvarez</title>
    </head>
    <body>
        <!-- <div class="body">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div> -->
        <div class="wrapper">
            <div class="black-block"></div>
            <div class="wrapper__content">
                <header class="header">
                    <div class="header__logo">
                        <span>&lt;</span>andres<span class="logo__bar">/</span><span>&gt;</span>
                    </div>
                    <nav class="header__nav">
                        <a href="../index.html" class="header__nav--home">Home</a>
                        <a href="#" class="header__nav--about current-page">About</a>
                        <a href="#" class="header__nav--service">Services</a>
                        <a href="#" class="header__nav--project">Project</a>
                    </nav>
                </header>
                <main class="main">
                    <div class="main__section">
                        <p class="main__section-text">About</p>
                    </div>
                    <div class="main__content">
                        <div>
                            <h1>About</h1>
                            <p>Hi, as an engineer I enjoy creating innovative solutions with a solid technological foundation. My background as a web developer with an emphasis on the backend reflects my commitment to creating robust and efficient systems.</p>
                        </div>
                        <div>

                            <h3>My Background and Training</h3>
                        <!-- <p>My journey in the IT sector began during the pandemic, initially as a self-taught learner. Later, I participated in <strong>MisiónTIC2022</strong>, a national project, and <strong>Campuslands</strong>, a private sector initiative. These projects allowed me to apply my knowledge in <span class="html">HTML</span>, <span class="css">CSS</span>, <span class="javascript">JavaScript</span>, <span class="python">Python</span>, and more in a practical and challenging environment.</p> -->
                        <p>My journey in the IT sector began during the pandemic, initially as a self-taught learner. Later, I participated in <strong>MisiónTIC2022</strong>, a national project, and <strong>Campuslands</strong>, a private sector initiative. These projects allowed me to apply my knowledge in <span class="tecnologias">HTML, CSS, JavaScript, Python</span>, and more in a practical and challenging environment.</p>
                        </div>
                        <div>

                            <h3>Skills and Expertise</h3>
                            <ul>
                                <li><strong>Frontend Development: </strong>Experience with HTML, PUG, CSS, SASS, JavaScript, and Vue.js to create interactive and functional web interfaces.</li>
                                <li><strong>Backend Development: </strong>Experience with Node.js, MongoDB, MySQL, and Express.js for building RESTful APIs. Additionally, I work with Python, NumPy, Pandas, and Matplotlib for data analysis projects.</li>
                                <li><strong>Other Skills: </strong>Familiar with Git, GitHub, Docker, Linux, Bash, and SCRUM methodologies.</li>
                            </ul>
                        </div>
                        <p>Let's build something together!</p>
                    </div>
                    <div class="main__social-media">
                        <a href="#"><i class="bx bxl-github"></i></a>
                        <a href="#"><i class="bx bxl-linkedin-square"></i></a>
                        <a href="#"><i class="bx bxs-envelope"></i></a>
                    </div>
                </main>
                <footer class="footer">
                    <p>Copyright © 2024</p>
                </footer>
            </div>
        </div>

    </body>
</html>
