/* .wrapper {
    height:unset;
} */

.black-block{
    width: 30%;
    height: 100%;
}

.main {
    gap: 4rem;
}

.main__content {
    padding-left: 28%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.technologies {
    color: var(--color-3);
}