/* Wrapper */
.wrapper {
    position: relative;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 3rem;
}
/* Header */
.header {
    position: absolute;
    top: 0;
    left: 8rem;
    right: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    z-index: 1;
}

.header__logo {
    color: #fff;
    font-size: 4rem;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header__nav a {
    font-weight: 700;
    font-size: 2rem;
}

.main {
    height: 100%;
    position: relative;
}

.main__section-text {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    letter-spacing: 2rem;
    color: var(--color-3);
    transform: rotate(-90deg);
}

.main__block-left {
    width: 50%;
    height: 100%;
    background-color: var(--color-2);
    position: absolute;
    z-index: -1;
}

.main__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.figure {
    width: 50rem;
    height: 50rem;
    aspect-ratio: 1 / 1;
}

.figure img {
    border-radius: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

.main__text p {
    font-size: 3.9rem;
    color: var(--color-4);
    line-height: 1.5;
}

.main__nav--social-media {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    /* transform: rotate(-90deg); */
    /* color: #db1414; */
    position: absolute;
    right: 15px;
    top: 40%;
}

.main__nav--social-media i {
    font-size: 3rem;
}

.main-footer {
    color: var(--color-1);
    position: absolute;
    bottom: 1rem;
    left: 5rem;
}
